* {
  box-sizing: border-box;

}

#app {
  max-width: 100%;
  overflow-y: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  width: 100%;
  /* min-height: 100vh; */
  /* background-color: tomato; */
}


.section.active {
  background-color: var(--color-beige);
}


.section--world {
  background-color: var(--color-beige);
  height: 200vh;
  max-height: 1240px;


  h1 {
    background-color: var(--color-chocolat);
    color: var(--color-beige);
    text-align: center;
    height: 50vh;

    b {
      color: var(--color-vert);
    }
  }

  .tache {
    width: 100%;
    height: 100vh;
    max-height: 940px;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 0;
  }

  .border {
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-chocolat);
    height: 100vh;
    max-height: 940px;
    transform: translate(-100%, 0);
  }

  p {
    font-size: 60px;
    color: var(--color-chocolat);
    margin-top: 70vh;
    /* text-align: right; 648 */
  }
}

/* Section 2 */
.tasseCofee {
  /* width: 30%; */
  opacity: 0;
  width: 500px;
  position: absolute;
  top: 40%;
  right: 15%;
  transform: translate(0, -50%) scale(0.5);
}

.world {
  width: 400px;
  position: absolute;
  bottom: 200px;
  right: 0;
  transform: translate(0, 0%);
}



/* Section capsule */
.section--capsule {

  margin-top: 30vh;

  .tache {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .title {
    font-size: 150px;
    text-align: center;
  }



  .legend {
    font-size: 32px;
  }

  .capsules_calendar {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .capsules_consumption {
    font-size: 64px;
    line-height: 100%;
  }

  .capsule_number {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    font-size: 70px;
    text-align: center;
  }


  .capsule_animation_container {
    position: absolute;
    top: 183px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .capsule_animation {
    width: 100%;
    overflow: hidden;
  }
}

.pTransition {
  margin-top: 50px;
  font-size: 70px;
  text-align: center;
  opacity: 0;
}

.section--time {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  height: 100vh;
  opacity: 0;

  .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    height: 100%;
  }

  .capsule_animation {
    opacity: .4;
  }

  p {
    font-size: 100px;
    text-align: center;
    width: 100%;
    line-height: 100%;

    b {
      font-size: 250px;
    }
  }
}

.section--recyclage {
  padding-top: 100px;
  background-color: var(--color-chocolat);
  color: var(--color-beige);

  &.first {
    padding-top: 100px;
  }

  &.last {
    padding-bottom: 200px;
  }

  .title {
    text-align: center;
    font-size: 150px;
    text-transform: uppercase;
    line-height: 100%;
    transition: 2s;
  }

  .title::after {
    content: '';
    animation: write-text 10s infinite;
  }

  @keyframes write-text {
    0% {
      content: '4';
    }

    10% {
      content: '40 ';
    }

    20% {
      content: '40 0';
    }

    30% {
      content: '40 00';
    }

    40% {
      content: '40 000';
    }

    50% {
      content: '40 000 t';
    }

    60% {
      content: '40 000 to';
    }

    70% {
      content: '40 000 ton';
    }

    80% {
      content: '40 000 tonn';
    }

    90% {
      content: '40 000 tonne';
    }

    100% {
      content: '40 000 tonnes';
    }
  }

  .subtitle {
    font-size: 24px;
  }

  .legend {
    margin-top: 16px;
    color: var(--color-vert);
    text-align: center;
    font-size: 60px;
  }
}



.section--transport {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;

  svg {
    margin-left: -100px;
    margin-right: -400px;
  }
}

/* .section3>div {
  width: 50%;
  display: flex;

  div {
    width: 100%;
  }
}

.section3>div:nth-child(1) {
  background-color: rgba(137, 91, 44, 0.4);
  border-radius: 50px;
  height: 50vh;
  padding: 20px;
}

.section3>div:nth-child(2) {
  display: flex;

  background-color: red;
} */